[MAIN]
disable=W0201,
        W0212,
        C0114,
        C0115,
        C0116,
        R0904,
        R0902,
        R0801

init-hook='import os, sys; tests = os.path.join(os.getcwd(), "tests"); [sys.path.append(d) for d, _, _ in os.walk(tests)];'

[DESIGN]
max-args=7
max-positional-arguments=7
